<a href="https://colab.research.google.com/github/yd1565/JangWonJHee/blob/master/%EC%9E%A5%EC%9B%90%ED%9D%AC_%EB%91%90_%EB%B2%88%EC%A7%B8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **00 과제 제출 예시**
아래와 같이 출력 결과와 동일한 출력을 해주시면 됩니다.

In [ ]:
# 출력 결과 : 광주 인공지능사관학교
print("광주 인공지능사관학교")

광주 인공지능사관학교

## **01 딕셔너리 쌍 추가하기**
아래의 dict_ai에 'phone number'를 key로 하고 cell_phone 변수에 담긴 값을 value로 하는 딕셔너리 쌍을 추가하는 코드를 작성한 후 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(dict_ai, cell_phone) 및 print(dict_ai) 직접 수정 불가
# 출력 결과 : {'name': '홍길동', 'age': 24, 'phone number': '010-1234-1234'}

dict_ai = {'name' : '홍길동', 'age' : 24}
cell_phone = '010-1234-1234'


print(dict_ai)

{'name': '홍길동', 'age': 24}

## **02 딕셔너리 쌍 삭제하기**
아래의 dict_ai에 'address'의 key와 value를 삭제하는 코드를 작성한 후 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(dict_ai) 및 print(dict_ai) 직접 수정 불가
# 출력 결과 : {'name': '홍길동', 'age': 24}

dict_ai = {'name' : '홍길동', 'age' : 24, 'address' : 'ㄱㅈ'}

del dict_ai['address']

print(dict_ai)

{'name': '홍길동', 'age': 24}

## **03 딕셔너리 key값을 활용한 value값 변경하기**
아래의 ai_student 'name'의 value 값인 '홍길동'을 '세종대왕'으로 변경하는 코드를 작성한 후 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(ai_student) 및 print(ai_student) 직접 수정 불가
# 출력 결과 : {'name': '세종대왕', 'age': 24, 'phone number': '010-1234-1234'}

ai_student = {'name' : '홍길동', 'age' : 24, 'phone number' : '010-1234-1234'}

ai_student['name'] = '세종대왕'

print(ai_student)

{'name': '세종대왕', 'age': 24, 'phone number': '010-1234-1234'}

## **04 조건문(1)**
조건문을 활용하여 money가 True일 경우 '택시를 타고 가자!'를 출력하고 True가 아닌 경우 '걸어서 가자!'를 출력하는 코드를 작성하여 '택시를 타고 가자!'를 출력해 주세요.

In [ ]:
# 주어진 변수(money) 직접 수정 불가
# 출력 결과 : 택시를 타고 가자!

money = True

if money == True:
  print('택시를 타고 가자!')
else:
  print('걸어서 가자!')

택시를 타고 가자!

## **05 조건문(2)**
조건문을 활용하여 money가 5000원 이상일 경우 '택시를 타고 가자!'를 출력하고, 1000원 이상일 경우 '버스를 타고 가자!'를 출력하고 1000원 미만일 경우 '집에나 있자..'를 출력하는 코드를 작성하여 '버스를 타고 가자!'를 출력해 주세요.

In [ ]:
# 주어진 변수(money) 직접 수정 불가
# 출력 결과 : 버스를 타고 가자!

money = 4900

if money >= 5000:
  print('택시를 타고 가자!')
elif 5000 > money and money >= 1000:
  print('버스를 타고 가자!')
else:
  print('집에나 있자..')

버스를 타고 가자!

## **06 조건문(3)**
광주 인공지능사관학교 학생 몽룡이는 주말에 춘향이에게 영화를 보러 가자고 하려 한다. 아래 조건 1), 2), 3)을 만족하는 조건문을 작성하고 '춘향아 우리 주말에 영화 보러 갈래?'를 출력해 주세요.

1) 몽룡이의 bag 안에 wallet이 있고, wallet 안에 Credit card가 있거나 현금이 20000원 이상 있다면 -> '춘향아 우리 주말에 영화 보러 갈래?'를 출력

2) 몽룡이의 bag 안에 wallet이 있고, wallet 안에 Credit card가 없거나 wallet에 현금이 20000원 미만이라면 -> '춘향아 주말에 우리 집에 가서 딥러닝 공부할래?'를 출력

3) 몽룡이의 bag 안에 wallet이 없다면 -> '춘향아 주말에 우리 집에 가서 머신러닝 공부할래?'를 출력

In [ ]:
# 주어진 변수(bag, wallet) 직접 수정 불가
# 출력 결과 : 춘향아 우리 주말에 영화 보러 갈래?


wallet = ['Credit card', 7900]
mong_ryong_bag = ['KF-94 Mask', 'Book', 'Tooth brush', wallet]

if wallet in mong_ryong_bag:
  if 'Credit card' in wallet or wallet[1] >= 20000:
    print('춘향아 우리 주말에 영화 보러 갈래?')
  else:
    print('춘향아 주말에 우리 집에 가서 딥러닝 공부할래?')
else:
  print('춘향아 주말에 우리 집에 가서 머신러닝 공부할래?')

춘향아 우리 주말에 영화 보러 갈래?

## **07 반복문(1)**
아래의 1), 2), 3) 상황을 읽고, pass를 지운 후 코드를 작성해 주시고, 출력 결과와 동일한 출력을 해주세요.

1) 변사또는 춘향이 집에 찾아가 하루에 한 번씩 '춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?'라고 물어본다.

2) 춘향이는 매일 같이 질문하는 변사또를 '싫어요!!'라고 5번 거절을 한 뒤, 몽룡이와 광주 인공지능사관학교에 입학하러 떠나버린다.

3) 변사또는 춘향이가 광주로 떠난 줄 모르고 춘향이 집에 갔더니 춘향의 어머니인 월매가 '춘향이 광주 인공지능사관학교에 입학했네!!'라고 야단을 치며 돌려보냈다.

In [ ]:
# 주어진 변수(byun_question_count) 및 while 변경 불가능
# 출력 결과 : 변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
#           춘향이 : 싫어요!!
#           변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
#           춘향이 : 싫어요!!
#           변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
#           춘향이 : 싫어요!!
#           변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
#           춘향이 : 싫어요!!
#           변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
#           춘향이 : 싫어요!!
#           월매 : 춘향이 광주 인공지능사관학교에 입학했네!!

byun_question_count = 0

while True:
  byun_question_count = byun_question_count + 1
  print('변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?')
  print('춘향이 : 싫어요!!')
  if byun_question_count == 5:
    print('월매 : 춘향이 광주 인공지능사관학교에 입학했네!!')
    break

변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
춘향이 : 싫어요!!
변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
춘향이 : 싫어요!!
변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
춘향이 : 싫어요!!
변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
춘향이 : 싫어요!!
변사또 : 춘향아 주말에 인공지능이 우리의 삶에 미치는 영향에 대한 토론하는 건 어떠니?
춘향이 : 싫어요!!
월매 : 춘향이 광주 인공지능사관학교에 입학했네!!

## **08 반복문(2)**
list_ai에 담겨있는 수들을 10을 곱한 뒤 result 리스트에 새롭게 담으려 한다. 반복문을 활용해 코드를 작성해 주시고, 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(list_ai, result) 및 print(result)문 변경 불가
# 출력 결과 : [80, 90, 40, 50, 60, 70, 10, 30]
list_ai = [8,9,4,5,6,7,1,3]
result = []

for i in list_ai:
  result.append(i * 10)

print(result)

[80, 90, 40, 50, 60, 70, 10, 30]

## **09 반복문과 조건문 활용(1)**
광주 인공지능사관학교에 합격하기 위해선 시험 점수가 70점 이상이 되어야 한다. 시험 점수가 70점 이상일 경우 '@번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다'를 출력하고, 70점 미만일 경우 '@번 학생 아쉽지만 다음 기회에 다시 지원해 주시길 바랍니다.'를 출력하는 코드를 작성해 주시고, 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(scores, student_index) 변경 불가
# 출력결과 : 1번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다.
#          2번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
#          3번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
#          4번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다.
#          5번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다.
#          6번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다.
#          7번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
#          8번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
#          9번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다.

scores = [80, 65, 43, 78, 88, 100, 44, 55, 75]
student_index = 0

for i in scores:
  student_index = student_index + 1
  if i >= 70:
    print(student_index, '번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다', sep = '')
  else:
    print(student_index, '번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.', sep = '')

1번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다
2번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
3번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
4번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다
5번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다
6번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다
7번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
8번 학생 아쉽지만 다음 기수에 다시 지원해 주시길 바랍니다.
9번 학생 축하합니다!! 광주 인공지능사관학교에 최종 합격하셨습니다

## **10 반복문과 조건문 활용(2)**
아래 scores는 광주 인공지능사관학교 학생들의 과제 평가 점수를 리스트에 담아 놓은 것이다. 이때 90점 이상의 점수를 맞은 학생들의 평균과 학생 수, 60점 미만의 점수를 맞은 학생들의 평균과 학생 수를 구하는 코드를 작성한 후 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(scores) 직접 수정 불가
# 출력 결과 : 90점 이상 학생들의 평균 점수 : 97.2, 90점 이상 학생 수 : 5명
#           60점 미만 학생들의 평균 점수 : 44.0, 60점 미만 학생 수 : 3명

scores = [66,54,89,92,98,100,33,45,97,99,67,87]

up_90score = 0
up_90people = 0
down_60score = 0
down_60people = 0
for i in scores:
  if i >=90:
    up_90score = up_90score + i
    up_90people = up_90people + 1
  elif 60 > i:
    down_60score = down_60score + i
    down_60people = down_60people + 1
print('90점 이상 학생들의 평균 점수 :', (up_90score / up_90people), '90점 이상 학생 수 :', up_90people)
print('60점 미만 학생들의 평균 점수 :', (down_60score / down_60people), '60점 미만 학생 수 :', down_60people)

90점 이상 학생들의 평균 점수 : 97.2 90점 이상 학생 수 : 5
60점 미만 학생들의 평균 점수 : 44.0 60점 미만 학생 수 : 3

## **11 반복문과 조건문 활용(3)**
아래의 ai_classes 안에 있는 학생들 중 30세 이상인 학생들을 students_30s에 담는 코드를 작성한 후 출력 결과와 동일한 출력을 해주세요.

In [ ]:
# 주어진 변수(ai_classes, students_30s) 및 print(students_30s) 직접 수정 불가
# 출력 결과 : ['세종대왕', '신사임당', '왕건', '하정우']

ai_classes = {
    'class01' : [
               {'name' : '홍길동', 'age' : 24},
               {'name' : '세종대왕', 'age' : 34},
               {'name' : '신사임당', 'age' : 37},
               {'name' : '이순신', 'age' : 19},
               {'name' : '왕건', 'age' : 31}
    ],
    'class02' : [
                 {'name' : '하정우', 'age' : 34},
                 {'name' : '이병헌', 'age' : 19},
                 {'name' : '강동원', 'age' : 21},
                 {'name' : '이민정', 'age' : 22},
                 {'name' : '한효주', 'age' : 24}
    ]
}

students_30s = []

for i in ai_classes:
  for j in ai_classes.get(i):
    if j.get('age') >= 30:
      students_30s.append(j.get('name'))

print(students_30s)

['세종대왕', '신사임당', '왕건', '하정우']